[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.1"
ruff = "==0.4.4"
uvicorn = "==0.29.0"
fastapi = {extras = ["all"], version = "==0.111.0"}
fastapi-mail = "==1.4.1"
fire = "==0.6.0"
sqlalchemy = "==2.0.31"
asyncpg = "==0.29.0"
sqlmodel = "==0.0.21"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
