[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.111.0"
alembic = "==1.13.1"
ruff = "==0.4.4"
uvicorn = "==0.29.0"

[dev-packages]

[requires]
python_version = "3.12"
