[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.1"
ruff = "==0.4.4"
uvicorn = "==0.29.0"
fastapi = {extras = ["all"], version = "==0.111.0"}
fastapi-mail = "==1.4.1"

[dev-packages]

[requires]
python_version = "3.12"
